
body {
  margin: 0;
  font-family: Arial;
  background: #08110b;
  color: #e8fff0;
}

.container {
  width: 90%;
  margin: auto;
}

header {
  background: #0f1b13;
  padding: 10px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.brand span {
  color: #39ff88;
}

.nav-links a {
  margin-left: 15px;
  color: #9ec8aa;
}

.hero {
  text-align: center;
  padding: 80px 0;
}

.btn {
  background: #39ff88;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 20px;
  color: #9ec8aa;
}
